.debug{
  background-color: rgba(240, 128, 128, 0.2);
  min-height: 60px;
  border: 1px solid red;
}

img.qw-img{
  height: 270px;
  border-radius: 10px;
}

.container.qw-wrapper{
  width: 80%;
  margin: auto;
}

.btn.qw-btn-nav{
  background-color: none;
  border: 1px solid gray;
  border-radius: 5px;
}

#section-nav, #section-banner, #section-about, #section-footer{
  color: white;
}

#section-nav{
  height: 60px;
  background-color: #2C3F51;
  vertical-align: middle;
}

#section-banner, #section-about{
  min-height: 200px;
  background-color: #19BC9D;
}

#section-portfolio, #section-contact, #section-footer{
  min-height: 200px;
  border: 1px solid red;
  background-color: rgba(240, 128, 128, 0.2);
}

#section-footer-1{
  background-color: #3A556D;
}

#section-footer-2{
  background-color: #2C3F51;
}



